<footer class="text-center text-muted">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="#"><img src="img/facebook.jpg" class="icone" height="50"></a></li>
        <li class="nav-item"><a href="#"><img src="img/whatsapp.jpg" class="icone" height="50"></a></li>
        <li class="nav-item"><a href="#"><img src="img/instagram.jpg" class="icone" height="50"></a></li>
    </ul>
    <p>Feito com S2 By Natália Lima</p>
</footer>