<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="menu">
            <a href="#">Página Inicial</a> |
            <a href="/quemsomos.ejs">Quem Somos</a> |
            <a href="/atendimento.ejs">Atendimento às vítimas</a> |
            <a href="/depoimentos.ejs">Depoimentos</a> |
            <a href="/nosapoie.ejs">Nos apoie</a>
        </div>
    </nav>
</header>