<header>
    <h1>Tá errado não!</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="#">Página Inicial</a></li>
                <li class="nav-item"><a href="/quemsomos.ejs">Quem Somos</a></li>
                <li class="nav-item"><a href="/atendimento.ejs">Atendimento às vítimas</a></li>
                <li class="nav-item"><a href="/depoimentos.ejs">Depoimentos</a></li>
                <li class="nav-item"><a href="/nosapoie.ejs">Nos apoie</a></li>
            </ul>
        </div>
    </nav>
    <p class="paragrafo"><strong> Mandar nudes não é errado.
        Errado é vazar e compartilhar nudes sem consentimento.</strong><br> A culpa não é sua, não sofra. Estamos
        nesta luta com você.</p>
</header>