<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head'); %>
<body> 
    <%- include('../partials/header'); %>
    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Mandar nudes não é errado.</h1>
                <p class="lead my-3">Errado é vazar e compartilhar nudes sem consentimento.<br> A culpa não é sua, não sofra. Estamos
                    nesta luta com você.</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>
            <!--<div class="col-md-6 px-0 d-inline p-2">
                <img class="img-responsive text-primary" src="/img/choro.jpg" width="304" height="236">
            </div>-->
        </div>
    </main>
    
        
    
    
        
    <div class="conteudo">
        
        <div class="dep_img">
            <a href="homefoto1.html"><img src="img/fantasmas.jpg" id="mini_img1" width="200px"
                height="300px" onmouseover="aumentar(this)" onmouseout="diminuir(this)"></a>
            <div id="middle1" onmouseover="aumentar(this)">
                <div class="caixa">
                    Saiba Mais
                </div>
            </div>
            <div id="para_paragrafo1">
                <p>As vitimas na maioria das vezes não conseguem se recuperar, entram em quadros lastimáveis
                        de depressão.
                </p>
            </div>
        </div>           
        <div class="dep_img">
            <a href="homefoto2.html"><img src="img/suas_imagens.jpg" id="mini_img2" width="200px"
                height="300px" onmouseover="aumentar1(this)" onmouseout="diminuir1(this)"></a>
                <div id="middle2" onmouseover="aumentar(this)">
                    <div class="caixa">
                        Saiba Mais
                    </div>
                </div>
            <div id="para_paragrafo2">
                <p>Você que foi vítima de imagens suas terem sido divulgadas sem seu consentimento, saiba
                    que existem leis para os infratores.</p>
            </div>                        
        </div>
        <div class="dep_img">
            <a href="homefoto3.html"><img src="img/apoio.jpg" id="mini_img3" width="200px" height="300px"
                onmouseover="aumentar2(this)" onmouseout="diminuir2(this)"></a>
                <div id="middle3" onmouseover="aumentar(this)">
                    <div class="caixa">
                        Saiba Mais
                    </div>
                </div>
            <div id="para_paragrafo3">
                <p>Saiba que você não está só, conte conosco.</p>
            </div>                
        </div>        
        <div class="area_img_home">
            <%- include('../partials/footer'); %>
        </div>
    </div>
</body>
</html>