<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tá errado não!</title>
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="style/homefoto3.css">
</head>
<body>
    <!--Barra Menu-->
    <div class="cabecalhonav">
        <h1>Tá errado não!</h1>
        <div class="menu">
            <a href="home.html">Página Principal</a> |
            <a href="quemsomos.html">Quem Somos</a> |
            <a href="atendimento.html">Atendimento às vítimas</a> |
            <a href="depoimentos.html">Depoimentos</a> |
            <a href="nosapoie.html">Nos apoie</a>
        </div>
    </div>
    <!--Conteúdo-->
    <div class="conteudo">
        <div class="p_home1">
            <p>
                Sabemos que não é fácil ser forte, após um conteúdo íntimo ser divulgado sem nosso concentimento, e acredite, ninguém quer passar por um constragimento como esse. Mas se você foi vítima
                .Não se desepere. A culpa não é sua. Você não está só nessa luta. Graças à ONG <a href="http://www.mariasdainternet.com.br/"><i>Marias da Internet</i></a>  
                já foi possível grades conquistas para penalizar ou autores. E nosso trabalho aqui é conseguir te ajudar de forma humanizada através dos serviços de 
                assistência psicológica que dispomos com a ajuda de voluntários cadastrados na plataforma, cursos de capacitação profissional, uma vez que compreendemos 
                que após o crime, as vítimas tem a sua carreira profissional afetadas e assistência jurídica para  penalizar os autores das divulgações. <br>
                Para conseguirmos te ajudar é preciso que você se cadastre em nosso site para podermos te acompanhar de perto no menu <a href="atendimento.html"><strong>Atendimento</strong></a>
                , não se preocupe, garantimos proteção total de seus dados confidenciais, pois lá poderemos te auxiliar de forma eficaz em sua denúcia. <br>
                Importante:</p><br> 
                <ol>
                <li> Uma vez que você tenha o material que foi divulgado, não apague, por mais que seja doloroso, mas é de extrema importância para validar a denúcia
                a seu favor.</li> 
                <li>Faça Print dos sites e das conversas.</li>
                <li>Vá a um cartório e faça uma ata notorial desse material.</li>
                <li>Vá a uma delegacia e registre um boletim de ocorrência, levando em mãos os prints impressos 
                    desse material.
                </li>
                <li>Procure um advogado especialista em crime de divulgação de imagens íntimas na internet, e já dê
                    inicio ao processo. (Na maioria dos casos é necessário a atuação de um perito digital para acompanhar 
                    a investigação e comprovar os fatos).
                </li>
                </ol>
                <br>
            <p>   Em qualquer situação nos procure, estamos aqui para lutar com você.
                <br><span>NÃO SOFRA!</span> 
                <br><span>NÃO SE CULPE!</span>
                <br><span>SIGA FIRME!</span>
                <br> Essa luta também é nossa.
            </p>
            <img src="img/ela_deixou.png" class="imagem">
        </div>
    </div> 
    <!--Rodapé-->   
        <div class="area_img_home">
            <footer>
                <div class="container">
                    <div class="social">
                        <div><a href="#"><img src="img/facebook.jpg" class="icone"></a></div>
                        <div><a href="#"><img src="img/whatsapp.jpg" class="icone"></a></div>
                        <div><a href="#"><img src="img/instagram.jpg" class="icone"></a></div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>