<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nos Apoie</title>
    <link rel="stylesheet" href="style/nosapoie.css">
</head>

<body>
    <!-- Página -->
    <div>
        <!-- Barra de navegação -->
        <div id="cabecalhonav">
            <h1>Nos Apoie</h1>
            <div id="menu">
                <a href="home.html">Página Inicial</a> |
                <a href="quemsomos.html">Quem Somos</a> |
                <a href="atendimento.html">Atendimento às vítimas</a> |
                <a href="depoimentos.html">Depoimentos</a> |
                <a href="#">Nos apoie</a>
            </div>
        </div>

        <!-- Imagem -->
        <div class="imagemg">
            <img src="img/maos.jpg" id="img_logo">
        </div>

        <!-- Conteúdo -->
        <div class="conteúdo">
            <div>
                <p>Para que nosso trabalho prossiga de maneira construtora, precisamos de sua colaboração
                    , esta colaboração não se trata apenas de contibuição financeira, mas de trbalhos voluntarios
                    como psicólogos para acompamento da saúde mental das vítimas, advogados para informações jurídicas
                    com respeito lei de proteção de dados pessoais, professores que estejam dispostos a contribuirem
                    com capacitação em áreas como matemática, física, informática, empreendedorismo, administração e
                    diversas
                    áreas de tal forma a contribuir com o ingresso dessas vítimas ao mercado de trabalho. Cadastre-se
                    preenchendo
                    os campos abaixo:
                </p>
            </div>
            <div>
                <div>
                    <br>
                    <form class="formulario">
                        Nome:
                        <br><input type="txt" placeholder="Informe seu Nome" required>
                        <br>
                        <br>Email:
                        <br><input type="email" placeholder="Seu endereço eletrônico" required>
                        <br>
                        <br>Telefone:
                        <br><input type="number" placeholder="(DD) 9000-0000">
                        <br>
                        <br>Sexo
                        <br><input type="radio" name="sexo">Masculino
                        <br><input type="radio" name="sexo">Feminino
                        <br>
                        <br>Profissão:
                        <br><input type="text" placeholder="Informe seu mercado de atuação" required>
                        <br>
                        <br>Você é de Manaus-Am?
                        <br><input type="radio" name="manaus-am">Sim
                        <br><input type="radio" name="manaus-am">Não
                        <br>
                        <br>Como gostaria de ser nosso colaborador?
                        <br><input type="radio" name="colaborador">Voluntário(a), participação em eventos, atendimento
                        as vítimas e outras atividades propostas.
                        <br><input type="radio" name="colaborador">Psicólogo(a), atendimento psicosocial as vítimas.
                        <br><input type="radio" name="colaborador">Professor(a), capacitação de cursos em áreas de
                        atuação de mercado.
                        <br><input type="radio" name="colaborador">Advogado(a), orientação jurídica.
                        <br><input type="radio" name="colaborador">Financeiro, contribui com qualquer quantia sem
                        burocracia.
                        <br>
                        <br><input type="submit" value="Cadastre-se" name="logar">
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="area_img_home">
        <footer>
            <div class="container">
                <div class="social">
                    <div><a href="#"><img src="img/facebook.jpg" class="icone"></a></div>
                    <div><a href="#"><img src="img/whatsapp.jpg" class="icone"></a></div>
                    <div><a href="#"><img src="img/instagram.jpg" class="icone"></a></div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>