<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head'); %>
<body>
    <!-- Página -->
    <div>
        <!-- Barra de navegação -->
        <div id="cabecalhonav">
            <h1>Quem Somos</h1>
            <%- include('../partials/header'); %>
        </div>

        <!-- Conteúdo -->
        <div>
            <!-- caixa com conteúdo escrito -->
            <div class="texto_quemsomos">
                <p class="p_quemsomos">
                    O vazamento não consentido de imagens íntimas é uma forma de violência contemporânea que vem se
                    alastrando cada vez mais
                    com a velocidade com que as informações são transmitidas. Conforme dados do <a
                        href="links/resultado_projeto_vazou.pdf"><i>projeto vazou</i></a> 56% das vítimas
                    desta prática relatam entrarem em estágio de depressão por acreditar que a culpa do compartilhamento
                    sobrecai nelas mesmas
                    .<br> Dessa inconformidade, <i>Natália Lima de Oliveira</i> (especialista em big data pela FPFTech)
                    e
                    <i>Eduardo da Cruz Franco</i> (especialista
                    em segurança da informação pela FPFTech) inspirados nos trabalhos do <a
                        href="http://ayresfranca.com/grupo-de-estudos"><i>Grupo de Estudos em Criminologias
                            Comteporâneas</i></a> e a OMG <a href="http://www.mariasdainternet.com.br/"><i>Marias da
                            Internet</i></a> que apresentam dados e propostas penais para autores desta prática,
                    surgiu o projeto <i>Tá errado não!</i> uma plataforma online que diponibiliza atendimento
                    psicológico as vítimas
                    , atendimento penal judicial para apurar denúncias e cursos de capacitação profisional, uma vez que
                    cerca de 5% das vítimas relatadas na pesquisa
                    do projeto vazou apresentam dificuldades para se realocarem ao mercado de trabalho.
                    <br>Também contamos com um espaço onde as vítimas podem compartilhar suas experiências traumáticas
                    com o intuito de impedir que outras vítimas que não possuem conhecimento do projeto façam práticas
                    de automutilação e pensamentos suicidas, conforme apurado na pesquisa, 32%
                    dos casos relataram atentar contra a própria vida, após descobrirem os vazamentos de suas imagens.
                </p>
            </div>

            <!-- caixa com informações -->
            <div>
                <!-- card de imagem 1 -->
                <div class="dep_img" id="posicao_edu">
                    <div><img src="img/eduardo.jpg" class="mini_img img_autores"></div>
                    <p>Eduardo da Cruz Franco
                        <br>Graduado em Sistemas da Informação pela UFAM
                        <br>Especialista em Segurança da Informação pela FPFTech.
                    </p>
                </div>
                <!-- card de imagem 2 -->
                <div class="dep_img" id="posicao_nat">
                    <div><img src="img/natalia.jpg" class="mini_img img_autores"></div>
                    <p>Natália Lima de Oliveira
                        <br>Graduada em Licenciatura em Matemática pela UEA
                        <br>Especialista em Big Data pela FPFTech.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="area_img_home">
        <%- include('../partials/footer'); %>
        </div>
</body>

</html>